In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
import re

In [328]:
import numpy as np

## Wszystkie linki na stronie wikipedia.org

In [3]:
page = requests.get("https://pl.wikipedia.org/wiki/Zygmunt_III_Waza")

In [4]:
soup = BeautifulSoup(page.content,'html.parser')

In [5]:
links = soup.find_all('a',{'href': True})

In [6]:
adress = [link['href'] for link in links]
names = [link.string for link in links]

In [7]:
df = pd.DataFrame({'adress':adress,
                 'name':names})

In [8]:
df.head(10)

,adress,name
0,#mw-head,nawigacja
1,#p-search,szukaj
2,/wiki/Plik:Zygmunt_III_Waza.jpg,None
3,/wiki/Plik:Coat_of_arms_of_Vasa_kings_of_Polan...,None
4,/wiki/Plik:Sigismundus_III_Rex_-_signature.png,None
5,/wiki/Kr%C3%B3l_Polski,król Polski i wielki książę litewski
6,/wiki/Krak%C3%B3w,Kraków
7,/wiki/Stefan_Batory,Stefan Batory
8,/wiki/W%C5%82adys%C5%82aw_IV_Waza,Władysław IV Waza
9,/wiki/W%C5%82adcy_Szwecji,król Szwecji

## Informacje o filmie z http://www.filmweb.pl/film/Player+One-2018-719889

In [369]:
def get_info(path):
    page = requests.get(path)
    soup = BeautifulSoup(page.content,'html.parser')
    title = soup.find_all(class_='inline filmTitle')[0].a["title"]
    
    director = ''
    if len(soup.find_all('li',itemprop="director")) != 0: 
        director = soup.find_all('li',itemprop="director")[0].get_text()
    
    rating_nmb = np.nan
    sidebar = soup.find_all('div',class_="filmRateBox")
    if len(sidebar[0].find_all(itemprop="ratingValue"))!= 0:
        rating = sidebar[0].find_all(itemprop="ratingValue")[0].string.strip()
        rating_nmb = float(rating.replace(",","."))
    
    info_table = soup.find_all(class_="filmInfo")[0].find_all("tr")
    b_o = np.nan
    box_office_name = info_table[len(info_table)-1].find('th').get_text()
    if box_office_name == 'boxoffice:':
        box_office = info_table[len(info_table)-1].find('td').get_text()
        box_office = re.findall('\$([\d\s]+)',box_office)[0].strip().replace(' ','')
        b_o = int(box_office)
    
    date = ''   
    if np.isnan(b_o):
        date_name = info_table[len(info_table)-1].find('th').get_text()
        if date_name == 'premiera:':
            date_all = info_table[len(info_table)-1].find('td').get_text()
            date = re.findall('(.*?)\(',date_all.strip())[0].strip()
    else:
        date_name = info_table[len(info_table)-2].find('th').get_text()
        if date_name == 'premiera:':
            date_all = info_table[len(info_table)-2].find('td').get_text()
            date = re.findall('(.*?)\(',date_all.strip())[0].strip()
    
    
    
    return {'title':title,
           'director':director,
           'rating':rating_nmb,
           'box_office':b_o,
           'date':date}

## Informacje o bezpośrednim adresie na filmweb.pl na podstawie tytułu filmu

In [221]:
def get_adress(name):
    path_end=name.split()[0]
    for part in name.split()[1:]:
        path_end += '%20' + part
    path_filmweb = "http://www.filmweb.pl/films/search?q=" + path_end
    
    page = requests.get(path_filmweb)
    soup = BeautifulSoup(page.content,'html.parser')

    res_path=''
    
    if soup.find(class_="filmPreview__link") != None:
        res = soup.find(class_="filmPreview__link")["href"]
        res_path = "http://www.filmweb.pl" + res

    return res_path

## Ranking filmów z http://www.boxofficemojo.com/yearly/chart/?p=.htm&yr=2018

In [273]:
tables = pd.read_html("http://www.boxofficemojo.com/yearly/chart/?p=.htm&yr=2018")

In [274]:
table = tables[5]
table.head()

,0,1,2,3,4,5,6,7,8
0,Rank,Movie Title (click to view),Studio function MojoDrop1() { var number = doc...,FilterA24 AAE Abr. ADC Amazon Annapurna Argo. ...,Total Gross / Theaters,Opening / Theaters,Open,Close,NaN
1,FilterA24 AAE Abr. ADC Amazon Annapurna Argo. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Black Panther,BV,"$688,796,094",4084,"$202,003,951",4020,2/16,-
3,2,Avengers: Infinity War,BV,"$282,438,300",4474,"$257,698,183",4474,4/27,-
4,3,A Quiet Place,Par.,"$149,421,689",3808,"$50,203,562",3508,4/6,-

In [275]:
table = table.drop(1,axis=0)
table = table.drop(0,axis=1)
table = table.drop(8,axis=1)
table = table.drop(0,axis=0)

In [276]:
table.columns=['Title','Studio','Box office','Total gross','Opennig','Open','Close']

In [277]:
table = table.reset_index().drop("index",axis=1)

In [278]:
table

,Title,Studio,Box office,Total gross,Opennig,Open,Close
0,Black Panther,BV,"$688,796,094",4084,"$202,003,951",4020,2/16
1,Avengers: Infinity War,BV,"$282,438,300",4474,"$257,698,183",4474,4/27
2,A Quiet Place,Par.,"$149,421,689",3808,"$50,203,562",3508,4/6
3,Ready Player One,WB,"$131,044,603",4234,"$41,764,050",4234,3/29
4,Peter Rabbit,Sony,"$114,575,572",3725,"$25,010,928",3725,2/9
5,Fifty Shades Freed,Uni.,"$100,407,760",3768,"$38,560,195",3768,2/9
6,A Wrinkle in Time,BV,"$94,977,901",3980,"$33,123,609",3980,3/9
7,I Can Only Imagine,RAtt.,"$81,176,294",2894,"$17,108,914",1629,3/16
8,Rampage (2018),WB (NL),"$78,527,760",4115,"$35,753,093",4101,4/13
9,Game Night,WB (NL),"$68,428,094",3502,"$17,005,332",3488,2/23
10,Insidious: The Last Key,Uni.,"$67,347,895",3150,"$29,581,355",3116,1/5
11,Pacific Rim Uprising,Uni.,"$58,952,050",3708,"$28,116,535",3708,3/23
12,Maze Runner: The Death Cure,Fox,"$58,030,429",3793,"$24,167,011",3787,1/26
13,Tomb Raider,WB,"$56,905,286",3854,"$23,633,317",3854,3/16
14,Blockers,Uni.,"$53,735,230",3418,"$20,556,350",3379,4/6
15,Red Sparrow,Fox,"$46,724,835",3064,"$16,853,422",3056,3/2
16,12 Strong,WB,"$45,500,164",3018,"$15,815,025",3002,1/19
17,Den of Thieves,STX,"$44,947,622",2432,"$15,206,108",2432,1/19
18,Tyler Perry's Acrimony,LGF,"$42,294,427",2006,"$17,170,707",2006,3/30
19,Sherlock Gnomes,Par.,"$40,683,529",3662,"$10,604,774",3662,3/23
20,"Love, Simon",Fox,"$40,509,461",2434,"$11,756,244",2402,3/16
21,Paddington 2,WB,"$40,442,052",3702,"$11,001,961",3702,1/12
22,The Commuter,LGF,"$36,343,858",2892,"$13,701,452",2892,1/12
23,The 15:17 to Paris,WB,"$36,250,957",3042,"$12,554,286",3042,2/9
24,Truth or Dare,Uni.,"$35,613,930",3068,"$18,667,855",3029,4/13
25,Death Wish (2018),MGM,"$33,920,866",2882,"$13,010,267",2847,3/2
26,Annihilation,Par.,"$32,732,301",2112,"$11,071,584",2012,2/23
27,I Feel Pretty,STX,"$30,338,006",3440,"$16,030,218",3440,4/20
28,Isle Of Dogs,FoxS,"$27,204,799",1947,"$1,620,294",27,3/23
29,Winchester,LGF,"$25,091,816",2480,"$9,307,626",2480,2/2
...,...,...,...,...,...,...,...
74,Monster Hunt 2,LGF,"$706,153",69,"$341,834",69,2/16
75,Lean on Pete,A24,"$697,715",167,"$46,975",4,4/6
76,Foxtrot,SPC,"$565,490",45,"$31,629",4,3/2
77,Loveless (2018),SPC,"$560,194",59,"$30,222",3,2/16
78,Bilal: A New Breed of Hero,VE,"$490,973",300,"$309,951",300,2/2
79,Condorito: La Pelicula,LGF,"$447,719",153,"$248,456",153,1/12
80,Itzhak,Greenwich,"$383,805",33,"$14,350",2,3/9
81,Final Portrait,SPC,"$375,100",100,"$25,472",3,3/23
82,Leaning Into The Wind,Magn.,"$356,247",39,"$24,840",5,3/9
83,The Rider,SPC,"$344,613",37,"$42,244",3,4/13
84,Hichki,Yash,"$330,279",73,"$330,279",73,3/23
85,Oh Lucy!,FM,"$329,914",41,"$14,569",3,3/2
86,Flower,Orch.,"$327,395",101,"$48,919",3,3/16
87,But Deliver Us from Evil,Indic.,"$273,752",247,"$99,541",247,2/9
88,Disobedience,BST,"$263,205",5,"$237,393",5,4/27
89,Agent Mr. Chan,CL,"$208,351",10,"$62,234",10,2/23
90,Borg vs. McEnroe,Neon,"$202,033",51,"$52,625",51,4/13
91,Gemini,Neon,"$200,340",56,"$32,980",4,3/30
92,The Final Year,Magn.,"$191,900",39,"$67,971",35,1/19
93,Bag of Marbles,Gaum.,"$190,101",16,"$14,420",4,3/23
94,The Monkey King 3,WGUSA,"$187,074",34,"$95,577",34,2/16
95,Back to Burgundy,MBox,"$186,653",18,"$15,157",5,3/23
96,Grace Jones: Bloodlight and Bami,KL,"$186,388",19,"$56,171",3,4/13
97,Goldbuster,WGUSA,"$186,135",24,"$79,180",24,1/5
98,Getting Grace,Hann.,"$181,671",60,"$103,831",60,3/23
99,Double Lover,Cohen,"$167,581",51,"$62,995",50,2/14
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,"$2,911,624,249",-,-,-,-,-,NaN
102,"$12,826,539",-,-,-,-,-,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
table["Box office"] = table["Box office"].str.replace(',','')

In [68]:
table["Box office"] = table["Box office"].str.replace('$','')

In [288]:
table

,Title,Studio,Box office,Total gross,Opennig,Open,Close
0,Black Panther,BV,"$688,796,094",4084,"$202,003,951",4020,2/16
1,Avengers: Infinity War,BV,"$282,438,300",4474,"$257,698,183",4474,4/27
2,A Quiet Place,Par.,"$149,421,689",3808,"$50,203,562",3508,4/6
3,Ready Player One,WB,"$131,044,603",4234,"$41,764,050",4234,3/29
4,Peter Rabbit,Sony,"$114,575,572",3725,"$25,010,928",3725,2/9
5,Fifty Shades Freed,Uni.,"$100,407,760",3768,"$38,560,195",3768,2/9
6,A Wrinkle in Time,BV,"$94,977,901",3980,"$33,123,609",3980,3/9
7,I Can Only Imagine,RAtt.,"$81,176,294",2894,"$17,108,914",1629,3/16
8,Rampage (2018),WB (NL),"$78,527,760",4115,"$35,753,093",4101,4/13
9,Game Night,WB (NL),"$68,428,094",3502,"$17,005,332",3488,2/23
10,Insidious: The Last Key,Uni.,"$67,347,895",3150,"$29,581,355",3116,1/5
11,Pacific Rim Uprising,Uni.,"$58,952,050",3708,"$28,116,535",3708,3/23
12,Maze Runner: The Death Cure,Fox,"$58,030,429",3793,"$24,167,011",3787,1/26
13,Tomb Raider,WB,"$56,905,286",3854,"$23,633,317",3854,3/16
14,Blockers,Uni.,"$53,735,230",3418,"$20,556,350",3379,4/6
15,Red Sparrow,Fox,"$46,724,835",3064,"$16,853,422",3056,3/2
16,12 Strong,WB,"$45,500,164",3018,"$15,815,025",3002,1/19
17,Den of Thieves,STX,"$44,947,622",2432,"$15,206,108",2432,1/19
18,Tyler Perry's Acrimony,LGF,"$42,294,427",2006,"$17,170,707",2006,3/30
19,Sherlock Gnomes,Par.,"$40,683,529",3662,"$10,604,774",3662,3/23
20,"Love, Simon",Fox,"$40,509,461",2434,"$11,756,244",2402,3/16
21,Paddington 2,WB,"$40,442,052",3702,"$11,001,961",3702,1/12
22,The Commuter,LGF,"$36,343,858",2892,"$13,701,452",2892,1/12
23,The 15:17 to Paris,WB,"$36,250,957",3042,"$12,554,286",3042,2/9
24,Truth or Dare,Uni.,"$35,613,930",3068,"$18,667,855",3029,4/13
25,Death Wish (2018),MGM,"$33,920,866",2882,"$13,010,267",2847,3/2
26,Annihilation,Par.,"$32,732,301",2112,"$11,071,584",2012,2/23
27,I Feel Pretty,STX,"$30,338,006",3440,"$16,030,218",3440,4/20
28,Isle Of Dogs,FoxS,"$27,204,799",1947,"$1,620,294",27,3/23
29,Winchester,LGF,"$25,091,816",2480,"$9,307,626",2480,2/2
...,...,...,...,...,...,...,...
74,Monster Hunt 2,LGF,"$706,153",69,"$341,834",69,2/16
75,Lean on Pete,A24,"$697,715",167,"$46,975",4,4/6
76,Foxtrot,SPC,"$565,490",45,"$31,629",4,3/2
77,Loveless (2018),SPC,"$560,194",59,"$30,222",3,2/16
78,Bilal: A New Breed of Hero,VE,"$490,973",300,"$309,951",300,2/2
79,Condorito: La Pelicula,LGF,"$447,719",153,"$248,456",153,1/12
80,Itzhak,Greenwich,"$383,805",33,"$14,350",2,3/9
81,Final Portrait,SPC,"$375,100",100,"$25,472",3,3/23
82,Leaning Into The Wind,Magn.,"$356,247",39,"$24,840",5,3/9
83,The Rider,SPC,"$344,613",37,"$42,244",3,4/13
84,Hichki,Yash,"$330,279",73,"$330,279",73,3/23
85,Oh Lucy!,FM,"$329,914",41,"$14,569",3,3/2
86,Flower,Orch.,"$327,395",101,"$48,919",3,3/16
87,But Deliver Us from Evil,Indic.,"$273,752",247,"$99,541",247,2/9
88,Disobedience,BST,"$263,205",5,"$237,393",5,4/27
89,Agent Mr. Chan,CL,"$208,351",10,"$62,234",10,2/23
90,Borg vs. McEnroe,Neon,"$202,033",51,"$52,625",51,4/13
91,Gemini,Neon,"$200,340",56,"$32,980",4,3/30
92,The Final Year,Magn.,"$191,900",39,"$67,971",35,1/19
93,Bag of Marbles,Gaum.,"$190,101",16,"$14,420",4,3/23
94,The Monkey King 3,WGUSA,"$187,074",34,"$95,577",34,2/16
95,Back to Burgundy,MBox,"$186,653",18,"$15,157",5,3/23
96,Grace Jones: Bloodlight and Bami,KL,"$186,388",19,"$56,171",3,4/13
97,Goldbuster,WGUSA,"$186,135",24,"$79,180",24,1/5
98,Getting Grace,Hann.,"$181,671",60,"$103,831",60,3/23
99,Double Lover,Cohen,"$167,581",51,"$62,995",50,2/14
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,"$2,911,624,249",-,-,-,-,-,NaN
102,"$12,826,539",-,-,-,-,-,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [374]:
def film_base(table):
    df = pd.DataFrame()
    
    for title,b_o in zip(table["Title"],table["Box office"]):
        #print(title)
        adress = get_adress(title)
        
        if adress !='':
            infos = get_info(adress)
            #print(infos)
            row = pd.DataFrame(pd.Series(infos)).transpose()
            df = df.append(row)
        
    df.reset_index()
    return df

In [375]:
base = film_base(table)

In [379]:
base = base.reset_index().drop("index",axis=1)

In [380]:
base

,box_office,date,director,rating,title
0,1331291387,14 lutego 2018,Ryan Coogler,7.1,Czarna Pantera
1,630000000,26 kwietnia 2018,Anthony Russo,8.6,Avengers: Wojna bez granic
2,235373301,13 kwietnia 2018,John Krasinski,7.2,Ciche miejsce
3,545183218,6 kwietnia 2018,Steven Spielberg,7.4,Player One
4,310609917,13 kwietnia 2018,Will Gluck,7.1,Piotruś Królik
5,368307760,9 lutego 2018,James Foley,5.7,Nowe oblicze Greya
6,124256336,7 marca 2018,Ava DuVernay,5.3,Pułapka czasu
7,NaN,16 marca 2018,Andrew Erwin,7,I Can Only Imagine
8,334630557,11 maja 2018,Brad Peyton,6.2,Rampage: Dzika furia
9,108705293,9 marca 2018,John Francis Daley,7.1,Wieczór gier
10,166831020,5 stycznia 2018,Adam Robitel,6,Naznaczony: Ostatni klucz
11,286371825,23 marca 2018,Steven S. DeKnight,5.9,Pacific Rim: Rebelia
12,284803018,26 stycznia 2018,Wes Ball,6.9,Więzień labiryntu: Lek na śmierć
13,269300036,6 kwietnia 2018,Roar Uthaug,6.3,Tomb Raider
14,75315490,4 maja 2018,Kay Cannon,6.3,Strażnicy cnoty
15,145083182,2 marca 2018,Francis Lawrence,7.2,Czerwona jaskółka
16,62891735,17 stycznia 2018,Nicolai Fuglsig,6.3,Dwunastu odważnych
17,390493908,13 września 1991,Kevin Reynolds,7.2,Robin Hood: Książę złodziei
18,57669048,16 marca 2018,John Stevenson,5.4,Gnomeo i Julia. Tajemnica zaginionych krasnali
19,53267098,15 czerwca 2018,Greg Berlanti,7.8,Twój Simon
20,259541430,2 stycznia 2015,Paul King,6.9,Paddington
21,116048283,12 stycznia 2018,Jaume Collet-Serra,6.3,Pasażer
22,56350957,1 stycznia 2018,Clint Eastwood,5.5,15:17 do Paryża
23,47816995,20 kwietnia 2018,Jeff Wadlow,5.3,Prawda czy wyzwanie
24,NaN,13 kwietnia 2018,Eli Roth,6.4,Życzenie śmierci
25,NaN,22 lutego 2018,Alex Garland,6.2,Anihilacja
26,29573561,29 czerwca 2018,Abby Kohn,6.3,Jestem taka piękna!
27,39560753,20 kwietnia 2018,Wes Anderson,8.1,Wyspa psów
28,NaN,9 lutego 2018,Michael Spierig,5.7,Winchester. Dom duchów
29,NaN,9 marca 2018,Johannes Roberts,4.8,Nieznajomi: Ofiarowanie
...,...,...,...,...,...
56,NaN,26 września 2017,Kevin Tent,5.4,To nie jest miłość
57,568046676,16 lutego 2018,Dante Lam,7.2,Hong hai xing dong
58,NaN,28 kwietnia 2016,Sabir Khan,7.2,Baaghi
59,NaN,16 marca 2018,Richard Loncraine,6.8,Do zakochania jeden krok
60,NaN,,Gareth Evans,NaN,The Raid 3
61,NaN,17 czerwca 1994,Peter Segal,7,Naga broń 33 1/3: Ostateczna zniewaga
62,NaN,15 listopada 2012,Matúš Vizár,7.6,Pandy
63,NaN,5 stycznia 2018,Sally Potter,7.4,Party
64,385284817,16 lipca 2015,Raman Hui,6,Zhuo Yao Ji
65,NaN,1 września 2017,Andrew Haigh,6.6,Lean on Pete
66,24972139,4 marca 2016,Glenn Ficarra,6.5,Whiskey Tango Foxtrot
67,NaN,2 lutego 2018,Andriej Zwiagincew,7.6,Niemiłość
68,1804237,październik 2016,Khurram H. Alavi,6.5,Bilal: A New Breed of Hero
69,8431194,12 października 2017,,3,Condorito: La película
70,NaN,,,10,Itzhak Frey & Sohn
71,NaN,11 lutego 2017,Stanley Tucci,6.2,Final Portrait
72,NaN,8 kwietnia 2017,Thomas Riedelsheimer,NaN,Leaning Into the Wind: Andy Goldsworthy
73,228738393,23 lutego 2007,Mark Steven Johnson,6.4,Ghost Rider
74,4219279,,,NaN,Hichki
75,NaN,22 maja 2017,Atsuko Hirayanagi,6.6,"Ach, Lucy!"
76,14631377,26 marca 2010,Sherry Hormann,7.7,Kwiat pustyni
77,NaN,26 marca 2016,Joshua Coates,3.1,But Deliver Us from Evil
78,NaN,10 września 2017,Sebastián Lelio,7.2,Disobedience
79,NaN,27 października 2017,Janus Metz,7.3,Borg/McEnroe. Między odwagą a szaleństwem
80,NaN,12 marca 2017,Aaron Katz,7.8,Bliźnięta
81,62357900,18 czerwca 2009,Harold Ramis,5.5,Rok pierwszy
82,NaN,15 stycznia 2017,Christian Duguay,7.4,Gra w szklane kulki
83,NaN,2 września 1952,Howard Hawks,6.8,Małpia kuracja
84,10167974,13 października 2017,Cédric Klapisch,6.6,Nasz najlepszy rok
85,NaN,,Daniel Roebuck,NaN,Getting Grace

In [382]:
base.sort_values("rating",ascending=False)

,box_office,date,director,rating,title
70,NaN,,,10,Itzhak Frey & Sohn
1,630000000,26 kwietnia 2018,Anthony Russo,8.6,Avengers: Wojna bez granic
27,39560753,20 kwietnia 2018,Wes Anderson,8.1,Wyspa psów
32,18386550,4 maja 2018,Andrew Hyatt,7.9,"Paweł, apostoł Chrystusa"
19,53267098,15 czerwca 2018,Greg Berlanti,7.8,Twój Simon
80,NaN,12 marca 2017,Aaron Katz,7.8,Bliźnięta
76,14631377,26 marca 2010,Sherry Hormann,7.7,Kwiat pustyni
67,NaN,2 lutego 2018,Andriej Zwiagincew,7.6,Niemiłość
62,NaN,15 listopada 2012,Matúš Vizár,7.6,Pandy
82,NaN,15 stycznia 2017,Christian Duguay,7.4,Gra w szklane kulki
63,NaN,5 stycznia 2018,Sally Potter,7.4,Party
35,NaN,25 stycznia 2018,Sanjay Leela Bhansali,7.4,Padmaavat
38,23459358,18 września 2015,Paolo Sorrentino,7.4,Młodość
3,545183218,6 kwietnia 2018,Steven Spielberg,7.4,Player One
79,NaN,27 października 2017,Janus Metz,7.3,Borg/McEnroe. Między odwagą a szaleństwem
58,NaN,28 kwietnia 2016,Sabir Khan,7.2,Baaghi
2,235373301,13 kwietnia 2018,John Krasinski,7.2,Ciche miejsce
15,145083182,2 marca 2018,Francis Lawrence,7.2,Czerwona jaskółka
17,390493908,13 września 1991,Kevin Reynolds,7.2,Robin Hood: Książę złodziei
78,NaN,10 września 2017,Sebastián Lelio,7.2,Disobedience
57,568046676,16 lutego 2018,Dante Lam,7.2,Hong hai xing dong
54,531935866,16 lutego 2018,Sicheng Chen,7.2,Tang Ren Jie Tan An 2
9,108705293,9 marca 2018,John Francis Daley,7.1,Wieczór gier
53,814037575,18 listopada 2016,David Yates,7.1,Fantastyczne zwierzęta i jak je znaleźć
4,310609917,13 kwietnia 2018,Will Gluck,7.1,Piotruś Królik
0,1331291387,14 lutego 2018,Ryan Coogler,7.1,Czarna Pantera
52,NaN,8 lipca 2017,Hiromasa Yonebayashi,7,Meari to majo no hana
61,NaN,17 czerwca 1994,Peter Segal,7,Naga broń 33 1/3: Ostateczna zniewaga
40,NaN,27 kwietnia 2018,Armando Iannucci,7,Śmierć Stalina
7,NaN,16 marca 2018,Andrew Erwin,7,I Can Only Imagine
...,...,...,...,...,...
30,23182223,20 grudnia 2002,Jay Chandrasekhar,6.1,Straż wiejska
10,166831020,5 stycznia 2018,Adam Robitel,6,Naznaczony: Ostatni klucz
64,385284817,16 lipca 2015,Raman Hui,6,Zhuo Yao Ji
34,NaN,10 września 2017,John Curran,5.9,Chappaquiddick
11,286371825,23 marca 2018,Steven S. DeKnight,5.9,Pacific Rim: Rebelia
39,11504374,27 lipca 2018,Steven Soderbergh,5.8,Niepoczytalna
28,NaN,9 lutego 2018,Michael Spierig,5.7,Winchester. Dom duchów
5,368307760,9 lutego 2018,James Foley,5.7,Nowe oblicze Greya
36,19318995,22 marca 2018,Scott Speer,5.5,W blasku nocy
22,56350957,1 stycznia 2018,Clint Eastwood,5.5,15:17 do Paryża
49,NaN,9 lutego 2018,Marco Polo Constandse,5.5,La Boda de Valentina
81,62357900,18 czerwca 2009,Harold Ramis,5.5,Rok pierwszy
56,NaN,26 września 2017,Kevin Tent,5.4,To nie jest miłość
18,57669048,16 marca 2018,John Stevenson,5.4,Gnomeo i Julia. Tajemnica zaginionych krasnali
23,47816995,20 kwietnia 2018,Jeff Wadlow,5.3,Prawda czy wyzwanie
45,8669853,20 kwietnia 2018,Nash Edgerton,5.3,Raz się żyje
6,124256336,7 marca 2018,Ava DuVernay,5.3,Pułapka czasu
37,NaN,13 kwietnia 2018,Sean McNamara,5,The Miracle Season
29,NaN,9 marca 2018,Johannes Roberts,4.8,Nieznajomi: Ofiarowanie
42,NaN,13 kwietnia 2018,Rob Cohen,4.7,Huragan
31,21753365,10 stycznia 2018,Babak Najafi,4.3,Proud Mary
44,NaN,18 maja 2018,Michael Mason,4.2,Bóg nie umarł: Światło w ciemności
77,NaN,26 marca 2016,Joshua Coates,3.1,But Deliver Us from Evil
69,8431194,12 października 2017,,3,Condorito: La película
50,NaN,19 kwietnia 2018,,NaN,Bharat Ane Nenu
51,NaN,13 kwietnia 2018,,NaN,Sgt. Stubby: An American Hero
60,NaN,,Gareth Evans,NaN,The Raid 3
72,NaN,8 kwietnia 2017,Thomas Riedelsheimer,NaN,Leaning Into the Wind: Andy Goldsworthy
74,4219279,,,NaN,Hichki
85,NaN,,Daniel Roebuck,NaN,Getting Grace